body{
	background-color: #2ECC71;
	min-width: 320px;
}
.container{
	font-family: "微软雅黑",Helvetica,Arial,sans-serif;
	width: 100%;

}
h1, div.header, div.descrption span,form label, form input{
	color:white;
}

div.header{
	
	background-color: #27AE60;
}
div.header h1{
	font-weight: bolder;
	line-height: 4em;
	
	font-size:4em;
	margin: auto;
	text-align: center;
}
div.description{
	margin: 3em;
	color: white;
	font-size: 0.85em;
	text-align: center;

}
form input{
	border: none;
}
form input[type="submit"]{
	margin-top: 1.5em;
	width: 100%;
	background-color: #27AE60;
	color: white;
	border: none;
	font-weight: bold;
}
form input[type="submit"]:hover{
	color: #27AE60;
	background-color: white;
}